# Python compiled files and env
__pycache__/
*.py[cod]
.python-version
venv/
*.egg-info/

# IDE, log, backup files
.idea/
*.iml
.code
.vscode
.classpath
.project
.settings/
.DS_Store
*.log
*.bak
bak.*
bak/

lib/download
tkltest-lib
test/coverage
test/data/irs/monolith-*/
maven-status/
__tkltest.cfg
__*-generated-tests/
randoop-*.txt
*-ctd-amplified-*/
tkltest-output-*/
*-instrumented-classes/
*evosuite-*/
*-randoop-*/
*-tkltest-reports/
*_bb_test_sequences.json
*_class_list.txt
*_coverage_report.json
*_ctd_models_and_test_plans.json
*_test_generation_summary.json
