name: Release

on:
  push:
    tags:
      - "v*.*.*"
env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  tagged-release:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
      - name: Download Java libraries
        run: |
          cd tkltest-lib
          ./download_lib_jars.sh
          cd ..; ls tkltest-lib/*
      - name: Get release tag
        id: get_release_tag
        run: echo ::set-output name=tag_name::${GITHUB_REF#refs/tags/}
      - name: Set archive file name
        id: set_file_name
        run: echo ::set-output name=file_name::${{ github.event.repository.name }}-${{ steps.get_release_tag.outputs.tag_name }}-all-deps
      - name: Create archive release (.tgz and .zip) with all dependencies
        run: |
          cd ..; ls -l
          tar -zcvf ${{ steps.set_file_name.outputs.file_name }}.tgz --exclude ".git*" ${{ github.event.repository.name }}
          zip -9 -r ${{ steps.set_file_name.outputs.file_name }}.zip ${{ github.event.repository.name }} -x "*.git*"
          ls -l
      - name: Build Changelog
        id: gen_changelog
        uses: mikepenz/release-changelog-builder-action@v1
        with:
          failOnError: "true"
          configuration: .github/workflows/release_config.json
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.gen_changelog.outputs.changelog }}
          files: |
            ../${{ steps.set_file_name.outputs.file_name }}.zip
            ../${{ steps.set_file_name.outputs.file_name }}.tgz
      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          labels: |
            org.opencontainers.image.description=See release notes at: https://github.com/konveyor/tackle-test-generator-cli/releases/tag/${{ steps.get_release_tag.outputs.tag_name }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GITHUB_USERNAME=${{ github.actor }}
            GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }}
