name: TackleTest-UI CI

on:
  push:
    paths-ignore:
      - 'tkltest/generate/unit/**'
      - 'tkltest/execute/unit/**'
      - 'tkltest/util/unit/**'
      - 'tkltest/tkltest_unit.py'
      - 'doc/**'
      - '**.md'
      - '.github/workflows/tkltest_unit_ci.yml'
      - 'test/unit/**'
  pull_request:
    paths-ignore:
      - 'tkltest/generate/unit/**'
      - 'tkltest/execute/unit/**'
      - 'tkltest/util/unit/**'
      - 'tkltest/tkltest_unit.py'
      - 'doc/**'
      - '**.md'
      - '.github/workflows/tkltest_unit_ci.yml'
      - 'test/unit/**'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Set up JDK 8
      uses: actions/setup-java@v2
      with:
        java-version: '8'
        distribution: 'adopt'
    - name: Install prerequisites
      run: |
        sudo apt-get -qq update
        sudo apt-get -qq install -y libgtk2.0-0 chromium-chromedriver
        sudo npm install -g bats
        bats --version
        chromedriver --version
    - name: Create maven settings.xml
      uses: s4u/maven-settings-action@v2.4.0
      with:
        servers: '[
          {"id": "github", "username": "$GITHUB_ACTOR", "password": "${{ secrets.TKLTEST_PKGS_PAT }}"},
          {"id": "github-sinha108", "username": "$GITHUB_ACTOR", "password": "${{ secrets.TKLTEST_PKGS_PAT }}"}
        ]'
    - name: Download Java libraries
      run: |
        cd lib
        sed -ie "s|GITHUB_USERNAME|$GITHUB_ACTOR|g" settings.xml
        sed -ie "s|GITHUB_TOKEN|${{ secrets.TKLTEST_PKGS_PAT }}|g" settings.xml
        ./download_lib_jars.sh
        cd ..; ls lib/*
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Pull test webapps
      run: |
        git submodule init
        git submodule update
    - name: Install tkltest-ui command
      run: |
        python -m venv venv
        source venv/bin/activate
        pip install .
        which tkltest-ui
        ls -l /home/runner/work/tackle-test-generator-cli/tackle-test-generator-cli/venv/lib/python3.8/site-packages/tkltest/generate/ui/template
    - name: Run CLI help/config tests
      run: |
        source venv/bin/activate
        bats test/ui/test_cli.bats
    - name: Run CLI generate/execute tests - petclinic
      env:
        JAVA_HOME: /opt/hostedtoolcache/Java_Adopt_jdk/8.0.292-1/x64
      run: |
        source venv/bin/activate
        bats --verbose-run --print-output-on-failure test/ui/test_cli_petclinic.bats
    - name: Run CLI generate/execute tests - addressbook
      env:
        JAVA_HOME: /opt/hostedtoolcache/Java_Adopt_jdk/8.0.292-1/x64
      run: |
        source venv/bin/activate
        bats --verbose-run --print-output-on-failure test/ui/test_cli_addressbook.bats
